body {
    background: url("../images/tv-screen-with-guide2.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 650px;
}

.container {
    height: 100%;
}

h1 {
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

#buttons-view {
    position: absolute;
    top: 500px;
    left: 30%;
    width: 43%;
    margin: 0px auto 20px;
    
}

.show-btn {
    background-color: #008CBA;;
    color: white;
    padding: 6px 10px;
    margin: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
}

.show-btn:hover {
    cursor: pointer;
    background-color: #123875;
}

#input-form {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 20%;
    margin: 5px 0px;
    position: absolute;
    bottom: 20px;
    left: 2%;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
}

#show-input {
    margin: 7px 5px;
}

#add-show {
    margin-bottom: 7px;
}

#gifs-view {
    position: absolute;
    top: 25px;
    left: 23%;
    width: 54%;
    height: 59%;
    overflow: hidden;
}

.gifClass {
    float: left;
    margin: 0px 5px;
    max-width: 80%;
}

p {
    margin: 3px 0px;
    color: white;
}

@media screen and (min-width: 1400px) {
    .gifClass {
        max-width: 80%;
    }
    #buttons-view {
        bottom: -600;
    }

}

@media screen and (min-width: 1200) {
    .gifClass {
        max-width: 50%;
    }

    #gifs-view {
        top: 35px;
    }
}